.vs/


.VirtualBox/
.arduinoIDE/
.bash_history
.cache/
.cargo/
.dotnet/
.gitconfig
.ipython/
.lesshst
.matplotlib/
.nuget/
.packettracer/
.rustup/
.viminfo/
.vscode/
AppData/
Autodesk/
Cargo.lock
Cargo.toml
